.App {
  text-align: center;
}

.home-hidden {
  display: none;
}

.splash-hidden {
  display: none;
}


#splash{
  background: url("/images/splash-bkgd.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.splash-logo {
  height: 30vh;
  padding: 10vh;
}

.app-content{
  min-height: 100vh;
  /* border:solid red; */
}


#nav{
  position: static;
  bottom: 0; /* Updated Property */
  font-size: small;
  width: 100%;
  flex-shrink: 0;
  /* border: solid black; */
}