:root {
  --orange: #f16642;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
}

.App {
  min-height: 100vh;
}

.home-hidden {
  display: none;
}

.nav-hidden {
  display: none;
}

.splash {
  background: url('/images/splash-bkgd.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

.splash-hidden {
  display: none;
}

.splash-logo {
  height: 30vh;
  padding: 10vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
